
VITE_API_BASE_URL=https://rsexclusive.onrender.com/api
VITE_PRIMARY_DOMAIN=rsexclusive-client.vercel.app
VITE_FIREBASE_API_KEY=AIzaSyBzBQalOS_LOjbvNsYOO5RmI3cKHJcmpAE
VITE_FIREBASE_AUTH_DOMAIN=dmcdemo-ccfba.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=dmcdemo-ccfba
VITE_FIREBASE_APP_ID=1:11141322598:web:7ec06295a85852d1925aa7
VITE_WEB3FORMS_ACCESS_KEY=
